<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reader</title>
    <link href= "/public/assets/commentpage.css" rel="stylesheet" type="text/css" />
    <link href= "/public/assets/styleshome.css" rel="stylesheet" type="text/css" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
</head>
<body>
    
  
    <div id="title">
     <% updatedSettings.forEach
     (function(parameter1)
     { %>
         
             <h1><%= parameter1.blog_title %></h1>
             <h3><%= parameter1.subtitle %></h3>
             <h5><%= parameter1.author_name %></h5>
         
             <!-- <img src="/boy.png" width="100" height="100" alt="Italian Trulli" >  -->
     <% }
     )
     %>
    </div>


    <form action="home" method="get" id="home">
        <button type="submit">HOME</button>
    </form>
    

    <form method="post">
    <% publishedArticles.forEach
    (function(parameter1)
    { %>
        <button type="submit" id="like" name="id"value="<%= parameter1.id %>" formaction="like">LIKE <br><%= parameter1.likes %></button>        
        <h1><%= parameter1.title %></h1>
        <h3><%= parameter1.subtitle %></h3>
        <h5><%= parameter1.article %></h5>
 
        
        <textarea id="story" name="comment" rows="7" cols="90" placeholder="Write your comment here...."></textarea><br>
        <button type="submit"name="id"value="<%= parameter1.id %>" formaction="comment">SUBMIT</button>    
      
    <% }
    )
    %>
    </form>



    <h2>Comment Section</h2>
    
    <% allComments.forEach
    (function(parameter1)
    { %>
        <div class="comment">    
            <%= parameter1.comment %>
            <br>
            <%= parameter1.posted %>
   </div>     
       
    <% }
    )
    %>
   



</body>
</html>